@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Fira Code', monospace;
    background-image: linear-gradient(to bottom, blue, #061296a8 );
}

.principal{
    display: grid;
    border: 1px solid black;
    width: 320px;
    height: 310px;
    box-shadow: 1px 2px 2px #0000009b;
    
}

header{
    display: grid;
    place-items: center;
    width: 100%;
    height: 78px;
    background-image: linear-gradient(to right, blue, #061296a8);
}

h2{
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 3px #000000d9;
}

.principal{
    
    background-color: white;
    
}

aside{display: grid;
    place-items: center;
}

.usuario{
    background-color: #8080803b;
    font-size: 1.1em;
    width: 200px;
    margin: 30px 20px 10px 20px;
    padding: 2px;
}

.senha{
    text-indent: 5px;
    background-color: #8080803b;
    font-size: 1.1em;
    width: 200px;
    margin: 10px 20px 10px 20px;
    padding: 2px;
}

.usuario{
    text-indent: 5px;
    background-color: #8080803b;
    font-size: 1.1em;
    width: 200px;
    margin: 10px 20px 10px 20px;
    padding: 2px;
}

.confirmar-senha{
    text-indent: 5px;
    background-color: #8080803b;
    font-size: 1.1em;
    width: 200px;
    margin: 10px 20px 0px 20px;
    padding: 2px;
}

footer{
    margin-bottom: 15px;
    display: grid;
    place-items: center;
}

button{
    font-size: 1.2em;
    color: white;
    width: 70%;
    border-radius: 25px;
    height: 30px;
    cursor: pointer;
    background-image: linear-gradient(to right, blue, #061296a8);
    text-shadow: 1px 1px 3px #000000d9;
}